In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
import plotly.express as px
from sklearn.preprocessing import OneHotEncoder,MinMaxScaler,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,GradientBoostingRegressor,BaggingRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_squared_error
from pyspark.sql.functions import col, hour, udf
from pyspark.sql.types import StringType
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [ ]:
flightprice_df = pd.read_csv("/content/drive/MyDrive/Project_2024/DSP_Project/FlightFarePrediction_data.csv",nrows=1000000)
airports_df = pd.read_csv('/content/drive/MyDrive/Project_2024/DSP_Project/airports.csv')

In [ ]:
#Section A

# 1.Understanding Data...........

# Display the first 2 rows of the DataFrame
print("First 2 rows of the DataFrame:\n")
print(flightprice_df.head(2))
print("\n" * 2)

# Display a summary of the DataFrame, including the data types and non-null values
print("Summary of the DataFrame:\n")
flightprice_df.info()
print("\n" * 2)

# Display descriptive statistics to summarize the central tendency and dispersion of DataFrame's distribution
print("Descriptive statistics:\n")
print(flightprice_df.describe())
print("\n" * 2)

# Print the number of missing values in each column
print("Number of missing values in each column:\n")
print(flightprice_df.isnull().sum())
print("\n" * 2)

# Print the number of duplicate rows in the DataFrame
print("Number of duplicate rows in the DataFrame:\n")
print(flightprice_df.duplicated().sum())
print("\n" * 2)

# Print the shape of the DataFrame (number of rows and columns)
print("Shape of the DataFrame (rows, columns):\n")
print(flightprice_df.shape)
print("\n" * 2)

First 2 rows of the DataFrame:

                              legId  searchDate  flightDate startingAirport  \
0  65a8a691c4d77487a439d6f44c219a39  2022-04-17  2022-04-21             LGA
1  1ad3c9a84f803cc98028ba8c67f35941  2022-04-18  2022-04-24             ATL

  destinationAirport fareBasisCode travelDuration  elapsedDays  \
0                DFW      UA3NA0BQ        PT5H45M            0
1                LGA      H3AHZNN1        PT2H22M            0

   isBasicEconomy  isRefundable  ...  segmentsArrivalTimeEpochSeconds  \
0            True         False  ...           1650551340||1650563100
1           False         False  ...                       1650853920

                              segmentsArrivalTimeRaw  \
0  2022-04-21T10:29:00.000-04:00||2022-04-21T12:4...
1                      2022-04-24T22:32:00.000-04:00

   segmentsArrivalAirportCode  segmentsDepartureAirportCode  \
0                    ATL||DFW                      LGA||ATL
1                         LGA                           ATL

   segmentsAirlineName segmentsAirlineCode segmentsEquipmentDescription  \
0         Delta||Delta              DL||DL     Airbus A321||Airbus A321
1    American Airlines                  AA                  Embraer 170

  segmentsDurationInSeconds segmentsDistance segmentsCabinCode
0                8940||8520         762||725      coach||coach
1                      8520              762             coach

[2 rows x 27 columns]



Summary of the DataFrame:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 27 columns):
 #   Column                             Non-Null Count    Dtype
---  ------                             --------------    -----
 0   legId                              1000000 non-null  object
 1   searchDate                         1000000 non-null  object
 2   flightDate                         1000000 non-null  object
 3   startingAirport                    1000000 non-null  object
 4   destinationAirport                 1000000 non-null  object
 5   fareBasisCode                      1000000 non-null  object
 6   travelDuration                     1000000 non-null  object
 7   elapsedDays                        1000000 non-null  int64
 8   isBasicEconomy                     1000000 non-null  bool
 9   isRefundable                       1000000 non-null  bool
 10  isNonStop                          1000000 non-null  bool
 11  baseFare                           1000000 non-null  float64
 12  totalFare                          1000000 non-null  float64
 13  seatsRemaining                     1000000 non-null  int64
 14  totalTravelDistance                920914 non-null   float64
 15  segmentsDepartureTimeEpochSeconds  1000000 non-null  object
 16  segmentsDepartureTimeRaw           1000000 non-null  object
 17  segmentsArrivalTimeEpochSeconds    1000000 non-null  object
 18  segmentsArrivalTimeRaw             1000000 non-null  object
 19  segmentsArrivalAirportCode         1000000 non-null  object
 20  segmentsDepartureAirportCode       1000000 non-null  object
 21  segmentsAirlineName                1000000 non-null  object
 22  segmentsAirlineCode                1000000 non-null  object
 23  segmentsEquipmentDescription       980545 non-null   object
 24  segmentsDurationInSeconds          1000000 non-null  object
 25  segmentsDistance                   989298 non-null   object
 26  segmentsCabinCode                  1000000 non-null  object
dtypes: bool(3), float64(3), int64(2), object(19)
memory usage: 186.0+ MB



Descriptive statistics:

          elapsedDays        baseFare       totalFare  seatsRemaining  \
count  1000000.000000  1000000.000000  1000000.000000  1000000.000000
mean         0.149023      332.699500      383.642963        5.619312
std          0.356142      198.576311      212.233363        2.965982
min          0.000000        2.000000       23.970000        0.000000
25%          0.000000      187.910000      228.600000        3.000000
50%          0.000000      305.120000      351.600000        7.000000
75%          0.000000      444.650000      501.600000        8.000000
max          2.000000     7018.600000     7568.600000       10.000000

       totalTravelDistance
count        920914.000000
mean           1564.817123
std             842.082246
min              97.000000
25%             862.000000
50%            1392.000000
75%            2376.000000
max            4430.000000



Number of missing values in each column:

legId                                    0
searchDate                               0
flightDate                               0
startingAirport                          0
destinationAirport                       0
fareBasisCode                            0
travelDuration                           0
elapsedDays                              0
isBasicEconomy                           0
isRefundable                             0
isNonStop                                0
baseFare                                 0
totalFare                                0
seatsRemaining                           0
totalTravelDistance                  79086
segmentsDepartureTimeEpochSeconds        0
segmentsDepartureTimeRaw                 0
segmentsArrivalTimeEpochSeconds          0
segmentsArrivalTimeRaw                   0
segmentsArrivalAirportCode               0
segmentsDepartureAirportCode             0
segmentsAirlineName                      0
segmentsAirlineCode                      0
segmentsEquipmentDescription         19455
segmentsDurationInSeconds                0
segmentsDistance                     10702
segmentsCabinCode                        0
dtype: int64



Number of duplicate rows in the DataFrame:

23700



Shape of the DataFrame (rows, columns):

(1000000, 27)

In [ ]:
# Extracting Selected Columns into a New DataFrame

flightpredict_df = flightprice_df[['flightDate','segmentsAirlineName','segmentsArrivalTimeEpochSeconds', 'segmentsDepartureTimeEpochSeconds','startingAirport','destinationAirport','travelDuration','isBasicEconomy','isRefundable','isNonStop','baseFare','totalFare','seatsRemaining','totalTravelDistance']]

flightpredict_df.head()

,flightDate,segmentsAirlineName,segmentsArrivalTimeEpochSeconds,segmentsDepartureTimeEpochSeconds,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,baseFare,totalFare,seatsRemaining,totalTravelDistance
0,2022-04-21,Delta||Delta,1650551340||1650563100,1650542400||1650554580,LGA,DFW,PT5H45M,True,False,False,110.70,142.6,9,1487.0
1,2022-04-24,American Airlines,1650853920,1650845400,ATL,LGA,PT2H22M,False,False,True,450.23,498.6,1,762.0
2,2022-04-22,Alaska Airlines||Alaska Airlines,1650678600||1650697140,1650671280||1650688200,OAK,LAX,PT7H11M,False,False,False,645.02,717.0,7,1628.0
3,2022-05-18,Delta||Delta,1652914020||1652941920,1652904600||1652923320,LGA,SFO,PT10H22M,False,False,False,440.93,497.6,9,2897.0
4,2022-05-06,JetBlue Airways||JetBlue Airways,1651919400||1651929660,1651899120||1651925100,SFO,BOS,PT8H29M,False,False,False,506.05,567.6,3,2751.0

In [ ]:
#Section B Data Cleaning...........

# Remove duplicates
flightpredict_df = flightpredict_df.drop_duplicates()

# Handling missing values
# Fill missing values for numerical columns with the median
numerical_cols = flightpredict_df.select_dtypes(include=[np.number]).columns
flightpredict_df[numerical_cols] = flightpredict_df[numerical_cols].fillna(flightpredict_df[numerical_cols].median())

# Fill missing values for categorical columns with the mode
categorical_cols = flightpredict_df.select_dtypes(include=[object, 'category']).columns
flightpredict_df[categorical_cols] = flightpredict_df[categorical_cols].fillna(flightpredict_df[categorical_cols].mode().iloc[0])

#Data After Cleaning...........

# Print the number of missing values in each column after cleaning
print("Number of missing values in each column after cleaning:\n")
print(flightpredict_df.isnull().sum())
print("\n" * 3)

# Print the shape of the DataFrame after cleaning
print("Shape of the DataFrame after cleaning (rows, columns):\n")
print(flightpredict_df.shape)
print("\n" * 3)

# Print the first 5 rows of the cleaned DataFrame
print("First 5 rows of the cleaned DataFrame:\n")
print(flightpredict_df.head())

Number of missing values in each column after cleaning:

flightDate                           0
segmentsAirlineName                  0
segmentsArrivalTimeEpochSeconds      0
segmentsDepartureTimeEpochSeconds    0
startingAirport                      0
destinationAirport                   0
travelDuration                       0
isBasicEconomy                       0
isRefundable                         0
isNonStop                            0
baseFare                             0
totalFare                            0
seatsRemaining                       0
totalTravelDistance                  0
dtype: int64




Shape of the DataFrame after cleaning (rows, columns):

(916976, 14)




First 5 rows of the cleaned DataFrame:

   flightDate               segmentsAirlineName  \
0  2022-04-21                      Delta||Delta
1  2022-04-24                 American Airlines
2  2022-04-22  Alaska Airlines||Alaska Airlines
3  2022-05-18                      Delta||Delta
4  2022-05-06  JetBlue Airways||JetBlue Airways

  segmentsArrivalTimeEpochSeconds segmentsDepartureTimeEpochSeconds  \
0          1650551340||1650563100            1650542400||1650554580
1                      1650853920                        1650845400
2          1650678600||1650697140            1650671280||1650688200
3          1652914020||1652941920            1652904600||1652923320
4          1651919400||1651929660            1651899120||1651925100

  startingAirport destinationAirport travelDuration  isBasicEconomy  \
0             LGA                DFW        PT5H45M            True
1             ATL                LGA        PT2H22M           False
2             OAK                LAX        PT7H11M           False
3             LGA                SFO       PT10H22M           False
4             SFO                BOS        PT8H29M           False

   isRefundable  isNonStop  baseFare  totalFare  seatsRemaining  \
0         False      False    110.70      142.6               9
1         False       True    450.23      498.6               1
2         False      False    645.02      717.0               7
3         False      False    440.93      497.6               9
4         False      False    506.05      567.6               3

   totalTravelDistance
0               1487.0
1                762.0
2               1628.0
3               2897.0
4               2751.0